body {
    background: linear-gradient( #1cb5e0,#000046);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
h1{
	text-align: center;
    color: black;
	/*ketebalan font*/
	font-weight: 100;
}
 
.tombol_in{
	text-align: center;
    color:#232323;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
    font-size: 20;
}
 
.kotak_login{
	width: 600px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
    color:#232323;
}
 
.form{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 15%;
	padding: 5px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
}
 
.tombol_input{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 25px;
    color :white;
    float:bottom;
}
.tombol_input1{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:right;
}
.tombol_kembali{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.tombol1{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
	margin-left: 10px;
    color :white;
}
.tombol2{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
	margin-left: 10px;
    color :white;
	
	
}
.ahref{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}.tombol{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 5%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 5px 5px;
    color :white;
}
.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
    color:#232323;
}
 
.nis{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
.kelas{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
.tanggal{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 80%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
	float: left;

}
 
.nama{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
	width: 120px;
    color:#232323;
	float: inherit;
}
.kelas{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 50%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 5px;
    color:#232323;
}

 
.tombol_input{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 50%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.tombol_input1{
	background:  #000046;
	color: white;
	font-size: 10pt;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:right;
}
.tombol_kembali{
	background:  #1cb5e0;
	color: white;
	font-size: 10pt;
	width: 15%;
	border: cornflowerblue;
	border-radius: 5px;
	padding: 10px 10px;
    margin-bottom: 5px;
    color :white;
    float:left;
}
.ahref{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
.alamat{
	width: 200px;
    height: 100px;
}
.kotak_login{
	width: 680px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 300px auto;
	padding: 70px 50px;
	border-radius: 10px
}
